.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child{
    width: 50%;
    margin-top: 20px;
    border: 2px solid green;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}